{% extends 'olipipline/base.html' %}

{% load leaflet_tags detections %}

{% block block_content %}

    <div class="card-group-control card-group-control-right" id="accordion-control-right">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <a data-toggle="collapse" class="text-body" href="#accordion-control-right-group1">
                        <i class="icon-info22 text-danger mr-3"></i>
                        Информация
                    </a>
                </h5>
            </div>

            <div id="accordion-control-right-group1" class="collapse" data-parent="#accordion-control-right">
                <div class="card-body f18">
                    Оператор для принятия решения по работе с обнаруженной детекцией получает
                    данные спутникового изображения в истинном цвете (TrueColor)
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-8">
            {% for img in object.bbox.bboximage_set.all %}
                <div class="card">

                    <div class="card-img-actions text-center h-100">
                        <img class="img-fluid" width="250" src="{{ img.image.url }}" alt="">
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                        <span class="font-weight-semibold">{{ img.date_start }} - {{ img.date_end }}</span>
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" id="cc_ls_d-{{ img.id }}">
                            <label class="custom-control-label" for="cc_ls_d-{{ img.id }}">Прикрепить в отчет</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-info header-elements-inline">
                    <h6 class="card-title">Объект</h6>
                </div>

                <div class="card-body">
                    <h4>{{ object.oli.name }}</h4>
                    <p>{{ object.oli.description|safe }}</p>
                </div>

                <div class="card-footer border-light d-sm-flex justify-content-sm-between align-items-sm-center py-sm-2">
                    <button type="button" class="btn btn-primary mt-3 mt-sm-0 w-100 w-sm-auto" data-toggle="modal" data-target="#modal_feedback">
                        Сообщить ответственному
                        <i class="icon-paperplane ml-2"></i>
                    </button>
                </div>
            </div>
            <a target="_blank" type="button" href="/static/ReportPDF.pdf" class="f22 btn btn-success w-100 btn-lg">
                Скачать отчет в PDF <i class="icon-file-pdf"></i>
            </a>
            <button type="button" class="f22 btn btn-warning w-100 btn-lg  mt-3">
                Создать маршрут для БПЛА <i class="icon-airplane2"></i>
            </button>
        </div>
    </div>

    <!-- Feedback form modal -->
    <div id="modal_feedback" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Сообщение ответственному</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="#">
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Сообщение:</label>
                                        <textarea rows="7" cols="5" class="form-control text-left" placeholder="">
Добрый день!
обращаем Ваше внимание, что по данным системы детекции
и анализа нефтеразливов "Арапов", на нефтепроводе "{{ object.oli.name }}"
возможен разлив нефтепродуктов по координатам: {{ object.geometry }}.
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-2">
                                            <input type="checkbox" class="custom-control-input" id="cc_ls_c" checked>
                                            <label class="custom-control-label" for="cc_ls_c">Прикрепить отчет</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Feedback form modal -->
{% endblock %}