{% extends 'dashboard/base.html' %}

{% load leaflet_tags %}

{% block page_content %}

    <div class="row">
        <div class="col-9">
            <div class="map-wrapper">
                {% leaflet_map "arapov" callback="window.map_init" %}
            </div>
            <script>
                function map_init(map, options) {
                    {% include 'dashboard/_includes/_leaflet_config.html' with boxes=boxes %}
                }
            </script>
        </div>

        <div class="col-3">
             <h3>Уведомления</h3>
            <div class="card border-danger">

                <div class="card-header bg-danger border-bottom-danger header-elements-inline">
                    <h6 class="card-title">Подозрительная детекция</h6>
                    <div class="header-elements">

                    </div>
                </div>

                <div class="card-body">
                   Найдена анамальная подозрительность на обекте
                </div>
            </div>

            <div class="card border-warning">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h6 class="card-title">Подозрительная детекция</h6>
                    <div class="header-elements">
                    </div>
                </div>

                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sint!
                </div>
            </div>
        </div>

    </div>
{% endblock %}