{% extends 'dashboard/base.html' %}

{% load leaflet_tags %}

{% block page_content %}

    <div class="row">
        <div class="col-9">
            <div class="map-wrapper">
                {% leaflet_map "arapov" callback="window.map_init" %}
            </div>
            <script>
                function map_init(map, options) {
                    {% include 'dashboard/_includes/_leaflet_config.html' with boxes=boxes %}
                }
            </script>
        </div>

        <div class="col-3">
            <div class="card border-warning">
                <div class="card-header bg-warning border-bottom-warning header-elements-inline">
                    <h6 class="card-title">Orange (warning) header</h6>
                    <div class="header-elements">
                        {#                        <div class="list-icons">#}
                        {#                            <a class="list-icons-item" data-action="collapse"></a>#}
                        {#                            <a class="list-icons-item" data-action="remove"></a>#}
                        {#                        </div>#}
                    </div>
                </div>

                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quidem!
                </div>
            </div>

            <div class="card border-danger">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h6 class="card-title">Orange (warning) header</h6>
                    <div class="header-elements">
                        {#                        <div class="list-icons">#}
                        {#                            <a class="list-icons-item" data-action="collapse"></a>#}
                        {#                            <a class="list-icons-item" data-action="remove"></a>#}
                        {#                        </div>#}
                    </div>
                </div>

                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sint!
                </div>
            </div>
        </div>

    </div>
{% endblock %}