{% extends 'base.html' %}

{% block container %}
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <h2 class="m-3">Поздравляем с успешной регистрацией!</h2>
            <ol>
                <li> Проверьте Вашу электронную почту на наличие письма об успешной регистрации (Не забудтьте проверить папку "Спам").</li>
                <li> В письме перейдите по указаной ссылке или нажмите кнопку "Активировать аккаунт".</li>
                <li> Данную страницу можно закрыть.</li>
            </ol>
            <p>
                Спасибо.
            </p>
        </div>
    </div>
{% endblock %}